version: "3.9"
services:
  postgres:
    image: postgres:16-alpine
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"
    environment:
      POSTGRES_USER: mm
      POSTGRES_PASSWORD: mm
      POSTGRES_DB: mm
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
